@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    height: 100vh;
    font-family: "Raleway", sans-serif;

    display: grid;
    grid-template-rows: auto 1fr auto;

    color-scheme: light;

    --header-bg: #dee2e6;
    --footer-bg: #ced4da;
    --auth-border: #adb5bd;
    --auth-button-bg: #adb5bd;
    --auth-button-active: #495057;
    --auth-button-active-text: #F8F9FA;
    --auth-button-hover: #6C757D;
    --action-button-bg: #ADB5BD;
    --action-button-active: #495057;
    --action-button-hover: #6C757D;

    --div-border: #CED4DA;
    --feed-bg: #F8F9FA;
    --feed-border: #E9ECEF;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    -webkit-appearance: button;
}

input:focus {
    background-color: white;
}