.feed-main {
    display: flex;
    justify-content: center;
    position: relative;
        overflow-y: hidden;
}

.events-container {
    background-color: var(--feed-bg);
    border-right-style: solid;
    border-left-style: solid;
    border-color: var(--feed-border);
    min-width: 60%;
    padding: 20px;
    gap: 20px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}
