.event-card{
    background-color: white;
    border-style: solid;
    border-color: var(--feed-border);
    padding: 20px;

    max-width: 900px;
    max-height: 250px;

    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    gap: 20px;
}

.event-image {
    background-color: #ADB5BD;
    aspect-ratio: 1/1;

    border-radius: 10px;
}

.event-info p {
    font-size: 15px;
}

.event-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}


.event-description {
    color: #495057;
    width: 100%;

    overflow-y: auto;
}


.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    font-weight: 800;
    font-size: 15px;
    color: white;
    background-color: #343A40;
    padding: 3px 5px; border-radius: 5px;
}