.feed-main {
    display: flex;
    justify-content: center;
}

.events-container {
    height: 100%;
    background-color: var(--feed-bg);
    border-right-style: solid;
    border-left-style: solid;
    border-color: var(--feed-border);
    min-width: 60%;
    padding: 20px;
    padding-bottom: 0px;
    gap: 20px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
