.footer-container {
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: center;

    border-top-style: solid;
    border-color: var(--div-border);
}