.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    width: max-content;
}

.header-container {
    background-color: var(--header-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    height: 50px;
}

.logout-button {
    cursor: pointer;
    margin-right: 30px;
}

h1 {
    font-weight: 900;
}