.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    width: max-content;
}

.header-container {
    background-color: var(--header-bg);
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    border-bottom-style: solid;
    border-color: var(--div-border);
}

.img-container {
    height: 50px;
}

.logout-button {
    cursor: pointer;
    justify-self: right;
    align-self: center;
    margin-right: 30px;
}

h1 {
    font-weight: 900;
}