.loading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100px;

    gap: 10px
}

.loading-gif {
    aspect-ratio: 1 / 1;
    object-fit: cover;

    width: 30px;
}

.loading-container-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 60px;

    gap: 10px
}