.root-main {
    padding: 20px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;

    gap: 15px;

    overflow-y: auto;

    padding-left: 10%;
    padding-right: 10%;
}

.root-button {
    padding: 10px;
    border-style: solid;
    width: max-content;
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--root-button-bg);
    border-color: var(--root-button-border);
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
}

.root-button:hover {
    background-color: var(--root-button-bg-hover);
}

.root-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.organized-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.root-buttons button {
    display: flex;
    align-items: center;
    gap: 3px;
}

.profile-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    width: 100px;

    cursor: pointer;
}

.welcome-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.root-events-container {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}