.schedule-main {
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
}

.schedule-desc {
    font-style: italic;
    font-weight: 600;
    color: #6c757d;
}

.schedule-button {
    padding: 10px;
    border-style: solid;
    width: max-content;
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--root-button-bg);
    border-color: var(--root-button-border);
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    height: 70px;
}

.schedule-button.gray {
    background-color: #adb5bd;
    border-color: #6c757d;
}

.schedule-button:hover {
    background-color: var(--root-button-bg-hover);
}
.schedule-button:focus {
    background-color: var(--root-button-bg);
}

.schedule-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 20px 0;
}

.schedule-events-container {
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-bottom: 20px;

    padding: 10px 10px;

    overflow-y: scroll;
}

.scheduling-settings-container {
    display: flex;
    gap: 20px;
    align-items: end;
}

.profit-modes-container {
    display: flex;
    border-radius: 50px;
    overflow: hidden;

    align-items: center;

    border-style: solid;
    border-color: black;
}

.profit-mode {
    color: white;
    font-weight: 700;

    background-color: #adb5bd;

    padding: 10px 30px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profit-mode:hover, .profit-mode.active:hover {
    background-color: var(--root-button-bg-hover);
}

.profit-mode.active {
    background-color: var(--root-button-bg);
}

.profit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.schedule-modal {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-style: solid;
    border-color: white;
    border-width: 20px;

    max-height: 700px;
    overflow-y: scroll;
}

.bold {
    font-weight: 900;
}

.schedule-header {
    position: sticky;
    top:0;
    z-index: 2;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-color: #adb5bd;
    border-radius: 30px;
} 