.user-badge-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;

    width: 40px;
}

.hover-user {
    position: fixed;
    background-color: white;
    pointer-events: none;

    padding: 15px;

    border-radius: 30px;

    border-bottom-left-radius: 0;

    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);

    height: 250px;
}

.badge-container {
    cursor: pointer;
}

.badge-container.checked{
    border-style: dashed;
    border-color: green;
    border-width: 4px;
    border-radius: 50%;
}

.hover-user-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;

    width: 150px;
}

.user-mini-badges {
    display: flex;
    gap: 5px;
    justify-content: center;
}